header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navbar {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1% 15% !important;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.751) !important;
}

.dropdown-toggle {
    width: 100%;
}

.logo {
    width: 20px;
}

.list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 15px;
}

.navbar-toggler {
    width: 70px;
    display: none;
}

.box0 {
    background-color: black;
    padding: 2% 10%;
    color: white;
}

.titlesSeccion {
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px solid #505050;
}

.box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.boxInfo {
    width: 31%;
    font-size: 15px;
}

i {
    color: white;
}

button {
    background-color: #00d5ff;
    width: 100%;
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {

    width: 23%;
}

.card-img-top {
    height: 150px;
}

.title-card {
    font-size: calc(1rem + 2px);
}

.card-body {
    background-color: #00d5ff;
}

.box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.titles {
    margin-bottom: 5px;
}
.inputs {
    padding: 0px 10px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.inputMensage {
    border: 1px solid black;
}

.buttonForm {
    margin-top: 20px;
    width: 80px;
    color: white !important;
}

footer {
    padding: 20px 300px;
    color: white;
    background-color: #00d5ff;
}

.fa-xl {
    margin-left: 10px;
}

.box6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

@media (max-width: 800px) {
    .navbar {
        padding: 2% 15% !important;
    }

    .list {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .box0 {
        padding: 5% 10%;
    }

    .box1 {
        display: none;
    }

    .boxInfo {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        margin-top: 30px;
        width: 100%;
    }

    footer {
        padding: 10px;
    }
}